<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="applicationContext-jdbc.xml"/>
    <import resource="applicationContext-mvc.xml"/>
    <import resource="applicationContext-security.xml"/>
    <context:annotation-config/>
    <bean id="serverManager" class="org.openid4java.server.ServerManager"  lazy-init="true" scope="prototype">
        <property name="privateAssociations">
            <bean class="org.openid4java.server.InMemoryServerAssociationStore"/>
        </property>
        <property name="sharedAssociations">
            <bean class="org.openid4java.server.InMemoryServerAssociationStore"/>
        </property>
    </bean>
    <!-- Because of Spring Security only support Ax, so I'll define a default type for Simple Registration(it can be changed by your need),
           other attribute properties for OpenID Attribute Exchange defined @  http://openid.net/specs/openid-attribute-properties-list-1_0-01.html,
           but according http://blog.nerdbank.net/2009/03/how-to-pretty-much-guarantee-that-you.html ,ax type is not statndard-->
    <util:map id="sregScheam" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="nickname" value="http://axschema.org/namePerson/friendly" />
        <entry key="email" value="http://axschema.org/contact/email"/>
        <entry key="fullname" value="http://axschema.org/namePerson"/>
        <entry key="dob" value="http://axschema.org/birthDate"/>
        <entry key="gender" value="http://axschema.org/person/gender"/>
        <entry key="postcode" value="http://axschema.org/contact/postalCode/home"/>
        <entry key="country" value="http://axschema.org/contact/country/home"/>
        <entry key="language" value="http://axschema.org/pref/language"/>
        <entry key="timezone" value="http://axschema.org/pref/timezone"/>
    </util:map>
    <!--Inject Simple Registration Schema to CommonUtil class static field-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="oisso.provider.CommonUtil.setSregSchema"/>
        <property name="arguments" ref="sregScheam"/>
    </bean>
    <!--Exchange Extension Attributes,Customized define your property-->
    <util:map id="extAttrSchema" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="roles" value="http://www.oisso.com/schema/1.0/roles" />
        <entry key="city" value="http://www.oisso.com/schema/1.0/city" />
    </util:map> 
</beans>